#changeGrid {
  margin-right: 15px;
  background-color: #ffff;
  background-image: url("../img/icon/resizesvg.svg"); /* 画像のパスを指定 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを防止 */
  background-size: cover; /* 画像がボタンを覆うように調整 */
  border: none; /* ボタンの境界線を消す */
  width: 35px; /* ボタンの幅 */
  height: 35px; /* ボタンの高さ */
  cursor: pointer; /* ホバー時のカーソルをポインタにする */
}
.icon-link {
  text-align: center; /* アイコンとテキストを中央揃えにする */
  display: block; /* リンクをブロック要素にする */
}

.icon-description {
  display: none; /* 初期状態では非表示にする */
  font-size: 10px;
}

a:link {
  color: #000000;
  text-decoration: underline;
}
