/* 프로필 */
.profile-title {
  margin: 0;
  padding: 10px; /* 왼쪽 여백 조정 */
  font-size: 20px; /* 텍스트 크기 */
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* 아이콘과 텍스트 사이 간격 */
}

/* Profile Picture Card */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Update Image Label */
.update-label {
  display: block;
  text-align: center;
  margin-top: 10px;
  background-color: #e3362c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-label:hover {
  background-color: #d32f2f;
}

/* Input File */
.input-file {
  display: none;
}

.edit-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: 20px;
}

.input-field {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.save-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #218838;
}

/* Profile Info Container */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  gap: 15px; /* 요소 간의 간격 */
  margin-top: 30px; /* 상단과의 간격 */
  margin-bottom: 30px; /* 하단과의 간격 */
}

/* Edit Profile 버튼 */
.edit-button {
  background-color: pink;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #0056b3;
}
