.rectangle-widget {
  width: 100%; /* 직사각형 가로 크기 */
  height: 170px; /* 직사각형 세로 크기 */
  background: linear-gradient(
    #3071a9,
    #9bc0e1
  ); /* 青から白へのグラデーション */
  color: white;
  border-radius: 15px;
  display: flex; /* フレックスコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に配置 */
}
.weather-header {
  flex: 1; /* 利用可能なスペースを均等に分ける */
  display: flex; /* フレックスコンテナとして設定 */
  justify-content: space-between; /* 子要素を左右に寄せる */
  align-items: center; /* 中央揃え */
  padding: 10px; /* ヘッダー内のパディング */
  width: 100%; /* 必要に応じて幅を設定 */
}
.weather-main {
  flex: 1; /* 利用可能なスペースを均等に分ける */
  display: flex; /* フレックスコンテナとして設定 */
  flex-direction: column; /* 子要素を縦方向に配置 */
  justify-content: center; /* 中央揃え */
  align-items: center; /* 中央揃え */
}
.weather-container {
  width: 100%; /* コンテナの横幅 */
}

.current-weather {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em; /* 現在の天気のフォントサイズ */
}
.location {
  font-weight: bold; /* 地名のフォントの太さ */
}

.temperature {
  font-size: 2em; /* 温度のフォントサイズ */
}

.daily-summary {
  text-align: center; /* テキストを中央に揃える */
  font-size: 0.8em; /* 日毎のサマリーのフォントサイズ */
  padding-right: 20px;
}

.hourly-forecast {
  display: flex;
  justify-content: space-around; /* 時間ごとの予報を均等に分散させる */
  padding: 10px; /* 時間ごとの予報のパディング */
}

.hour {
  text-align: center; /* 時間ごとのテキストを中央に揃える */
}

.weather-icon {
  font-size: 2em; /* 天気アイコンのフォントサイズ */
}
.weather-current {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.weather-location {
  font-weight: bold;
  padding-left: 20px;
}

.weather-temp {
  font-size: 2em;
}

.weather-info {
  text-align: center;
}

.weather-condition,
.weather-highlow {
  font-size: 0.8em;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.forecast-time,
.forecast-icon,
.forecast-temp {
  text-align: center;
}

.forecast-icon {
  font-size: 2em;
}
